{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row" id="header2">
<nav class="navbar-inverse" id="nav">
<ul class="nav navbar-nav">
<h2>About Us</h2>
</ul>
</nav>
</div>



<div id="p1">
<div class="row">
<h1 class="text-center">Welcome To Dream Careers Banking Academy</h1>
<br>
<h2 class="text-center"><b>Dream Careers Banking Academy welcomes you to explore
 the world <br>of the largest bank Pre-recruitment Training Istitute in India</b></h2>
 <br><br>
 </div>
 <div class="row">
 <div class="col-md-5">
 <img src="{% static 'g17.jpg' %}"height="400" width="450"/>
 </div>
 <div class="col-md-7" id="about">
 <h1>OUR HISTORY</h1>
 <p>Dream Careers Banking Academy has been at the forefront of coaching students 
 across multiple spheres of education. The journey from coaching class to pioneer in 
 the education sector epitomizes our ideology. We seek to impart quality coaching to 
 students at every stage of their academic life right from the final years of school to
 post-graduation. Today, we have gone beyond traditional classroom teaching to include
 web, satellite and mobile-based coaching.
 Through these, we serve the needs of nearly 200,000 students across the country.<br>
Our continued efforts to serve students have resulted in the creation of a Placement
 Division for students and Ideal Foundation – a platform that aims to develop the 
 student’s overall personality. As we continue to break new ground in our quest to
 impart quality education, IDEAL has become one of the premier educational institutions
 in the country.</p>
 </div>
 </div><br><br>
 <div class="row">
 <div class="col-md-6" id="about">
 <h1>OUR MISSION</h1>
 <p>To revolutionise education in India by setting new benchmarks for quality 
 teaching with Evolved Learning. To make Evolved Learning accessible and affordable
 to every individual anywhere in India, empowering him/her with knowledge to realise 
 his potential and achieve his dream ambition.</p>
</div>
<div class="col-md-3" id="aboutp">
 <img src="{% static 'g18.jpg' %}"height="200" width="100%"/>
 </div>
 <div class="col-md-3"  id="aboutp">
 <img src="{% static 'g19.jpg' %}"height="200" width="100%"/>
 </div>
 </div><br><br>
 <div class="row" id="about">
 <div class="col-md-5">
 <img src="{% static 'g20.jpg' %}"height="350" width="350"/>
 </div>
 <div class="col-md-7"id="about">
 <h1>OUR VISION</h1>
 <p>Our vision is to become a educational set up that works towards the overall
 development of its students by strengthening the brightest and young minds to achieve
 and fly high in sky so as to achieve best in their lives.<br><p>To evolve in every 
 sphere, whether it is our teaching methodology, our reach, or our knowledge and thus, 
 every student's learning. To experiment with newer ideas that motivates each one of us
 everyday to improve on what we have already achieved.  </p> 
</div>
</div></div><br><br>

{% endblock %}