{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="row">
<style>table, th,td{ border:1px solid black;}</style>
<h2><b>IBPS Clerk 2020 IBPS Clerk 2020 </b></h2>
<h3>IBPS Clerk 2020 Recruitment:</h3><p>IBPS (Institute of Banking Personnel Selection) conducts a common written exam or 
CWE every year for the clerical cadre in multiple banks all over the country. <br>
All public sector banks use CWE as a base to fill the vacancies for this post.<br>

IBPS is conducting Clerk exam for the 10th year now and hence named IBPS Clerk CWE X.<br>
 The IBPS Clerk CWE exam is conducted on two levels- preliminary exam and mains.<br>
 Students qualifying in both these exams are thus selected for the post.<br>


<h2><b>IBPS Clerk 2020 Notification</b></h2>
IBPS will release the Official Notification for IBPS Clerk 2020 Exam by first week of
 September 2020. <br>The Exam dates have been released by IBPS with its official exam 
 calendar for the year 2020-21.<br> IBPS Clerk 2020 Recruitment Process will start once
 the official notification has been released.<br> IBPS Clerk 2020 is going to be an
 opportunity for those who have not been able to get through SBI and other Bank 
 Recruitment Exams.<br>

IBPS Clerk 2019-20 Notification [Previous Year]<br>

<h2><b>IBPS Clerk 2020 Exam Dates</b></h2>
IBPS Clerk 2020 exam dates has been released by IBPS on 17th January along with 
the IBPS Exam Calendar.<br> As per the IBPS Calendar, IBPS Clerk 2020 Prelims exam is 
scheduled to be held on 2.12.2020, 13.12.2020 & 19.12.2020 and mains exam will be
conducted on 24.01.2021.<br> You must note down important dates related to IBPS Clerk
 Exam 2020 and make sure that you complete the process correctly on time. <br>The schedule
 of the exam is provided below:<br>
<table class="table table-bordered table-striped table-hover">
                <thead>
				 <tr>
                        <th colspan="2"><center>IBPS Clerk 2020-21: Important Dates</center></th>
                     </tr>
                    <tr>

                        <th>IBPS Clerk Events</th>
                        <th>Dates</th>
                    </tr>
                </thead>
                <tbody>
					<tr>
                        <td>IBPS Clerk Notification 2020 Release Date</td>
                        <td class="bold">September 2020</td>
                    </tr>
					<tr>
                        <td>IBPS Clerk Online Applicaion Starts From</td>
                        <td class="bold">September 2020</td>
                    </tr>
					<tr>
                        <td> IBPS Clerk Online Applicaion Ends On</td>
                        <td class="bold">October 2020</td>
                    </tr>
					<tr>
                        <td>Download of call letters for IBPS Clerk Pre- Exam Training </td>
                        <td class="bold">November 2020</td>
                    </tr>
					<tr>
                        <td> IBPS Clerk Online Pre-Exam Training </td>
                        <td class="bold">November 2020</td>
                    </tr>
				    <tr>
                        <td>Conduct of Online Examination - Preliminary</td>
                        <td class="bold">12th, 13th &amp; 19th December 2020</td>
                    </tr>
					<tr>
                        <td>Result of IBPS Clerk Preliminary Exam</td>
                        <td class="bold">January 2021</td>
                    </tr>

					<tr>
                        <td>Download of Call letter for Online Exam – Main </td>
                        <td class="bold">January 2021</td>
                    </tr>
					 <tr>
                        <td>Conduct of Online Examination – Main</td>
                        <td class="bold">24th January 2021</td>
                    </tr>
                    <tr id="centre">

                        <td>Declaration of Final Result</td>
                        <td>1<sup>st</sup> April 2021</td>
                    </tr>
                </tbody>
            </table>


</div>

<div class="row">
<h2><b>IBPS Clerk 2020 Online Applicaion</b></h2>
<p>The online applicable process for IBPS Clerk 2020-21 exam will start in the month 
of September 2020.<br> All Candidates are required to click on the link mentioned below to
 apply for IBPS Clerk 2020-21 Exam.<br>

The application for IBPS Clerk Exam 2020 has to be done online.<br> To avoid any
 technical errors please make sure that the web-browser used to fill up the IBPS Clerk 
 2020 <br>
 Application form is one of the following:<br>

• Internet Explorer 8 and above<br>

• Mozilla FireFox 3.0 and above<br>

• Google Chrome 3.0 and above<br>

Candidates applying online must have the following pre-requisites:<br>

• A valid Email Id<br>

• Photograph and Signature scanned in the prescribed size<br>

• Application Fee must be paid online so all document required for online transaction.<br>

The IBPS Clerk 2020 application form can only be filled on the official website.<br>

Before proceeding with the registration and application process, all candidates are 
requested to go through the complete guide for IBPS Clerk Online Applicaion<br>

<br></div>
<div class="row">
<h2><b>IBPS Clerk Application Fee</b></h2><br>
The category wise fee structure for IBPS Clerk online application is given below. <br>
Fee/Intimation charges once paid will NOT be refunded on any account nor can it be 
held in reserve for any other examination or selection. The application fee must be
 paid online itself. To know more check the complete guide for IBPS Clerk Application<br>

<table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Category</th>
                        <th>Application Fee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>SC/ST/PWD</td>
                        <td>Rs.100/- (Intimation Charges only)</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>General and Others</td>
                        <td>Rs. 600/- (App. Fee including intimation charges)</td>
                    </tr>
                </tbody>
            </table>
</p>
</div>

<div class="row">
<h2><b>IBPS Clerk Exam Pattern</b></h2>
<p>The IBPS Clerk exam occurs in two stages:<br>
 Prelims and Mains. Both these papers follow online method of conducting written
 examination. The structure of the exam is as follow:<br>

<h3><b>Phase-1: IBPS Clerk Preliminary Examination</b><br></h3>

The preliminary exam of IBPS Clerk CWE is an online exam testing a candidate on the
 basis of their aptitude, intellect and English.<br> There are three sections in total
 and the candidate must clear the cut off of each section to proceed to the mains exam 
 round.<br>

Candidates are required to solve the question paper in the time frame of 20 minutes 
for each section. The composite mark of the paper is 100 and the passing marks is 
decided by IBPS that is likely to change every year depending on the level of 
difficulty of the exam.<br>

<table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name of Tests(Objective</th>
                        <th>No. of Questions</th>
                        <th>Maximum Marks</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>English Language</td>
                        <td>30</td>
                        <td>30</td>
                        <td>20 minutes</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Numerical Ability</td>
                        <td>35</td>
                        <td>35</td>
						<td>20 minutes</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Reasoning Ability</td>
                        <td>35</td>
                        <td>35</td>
						<td>20 minutes</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center bold">Total</td>
                        <td>100</td>
                        <td>100</td>
                         <td>Composite time of 1 Hour</td>
                    </tr>
                </tbody>
            </table>
Candidates have to qualify in each of the three tests by securing minimum cut-off
 marks to be decided by IBPS. Adequate number of candidates in each category as 
 decided by IBPS depending upon requirements will be shortlisted for Online Main
 Examination.<br>

<h3><b>Phase-2: IBPS Clerk Mains Examination</b></h3><br>

No changes have been observed in the Exam Pattern of IBPS Clerk 2020 Exam.<br>
 IBPS Clerk Mains Exam will now constitute of 190 questions that needs to be completed 
 in a time frame of 160 minutes.<br>

Previously, Computer Aptitude and Reasoning Ability Section used to be conducted
 separately. But, in the recent update by IBPS, both these sections are amalgamated
 together and will constitute of 50 questions that needs to be solved in a time duration 
 of 45 minutes. Both Preliminary Exam and Mains Exam will be conducted bilingually,
 i.e. both in English and in Hindi. Let’s have a look at the Exam Pattern for IBPS 
 Clerk CWE VIII.<br>

<table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name of Tests(Objective</th>
                        <th>No. of Questions</th>
                        <th>Maximum Marks</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Reasoning Ability &amp; Computer Aptitude</td>
                        <td>50</td>
                        <td>60</td>
                        <td>45 minutes</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>English Language</td>
                        <td>40</td>
                        <td>40</td>
                        <td>35 minutes</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Quantitative Aptitude</td>
                        <td>50</td>
                        <td>50</td>
                        <td>45 minutes</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>General/ Financial Awareness</td>
                        <td>50</td>
                        <td>50</td>
                        <td>35 minutes</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="text-center bold">Total</td>
                        <td>190</td>
                        <td>200</td>
                        <td>160 minutes</td>
                    </tr>
                </tbody>
            </table>
<br>

<b>Penalty for Wrong Answers:</b><br>

There is a penalty for wrong answers marked in both preliminary examination as well 
as mains examination. A wrong answer to an objective question will lead to a penalty 
of one-fourth of the total mark assigned to that question. There will be no penalty
 for the question left blank or unanswered.<br><br>

<b>Final Score Calculation for IBPS Clerk Exam:</b><br>

The final score for the IBPS Clerk exam is calculated keeping the following points 
in mind:<br>

• Marks obtained in the Preliminary Exam (Phase-1) will not be considered for final
 selection.<br>

• Candidates must qualify Phase-2 to be eligible for final merit.<br>

• The aggregate score out of 100 is used for the final merit list for each category.<br>
Candidates with top merit rank in each category are finally selected.<br>
</p>
</div>



</div>
</div>


{% endblock %}