{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1 class="text-center success1">SUCCESS STORIES<h1>
<div class="row" id="success1">
<div class="col-md-10 col-md-offset-1">
<div class="col-md-2 ">
<img src="{% static 'ph1.jpg' %}"height="150" width="100%" />
<h6 id="success2">Ashreet</h6>
<p style="font-size: 11px;">Roll no:033458</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph2.jpg' %}"height="150" width="100%" />
<h6  id="success2">Shubam Kansal</h6>
<p style="font-size: 11px;">Roll no:209878</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph3.jpg' %}"height="150" width="100%" />
<h6  id="success2">Rajiv Bansal</h6>
<p style="font-size: 11px;">Roll no:30090</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph4.jpg' %}"height="150" width="100%" />
<h6  id="success2">Poonam Rani</h6>
<p style="font-size: 11px;">Roll no:22809</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph5.jpg' %}"height="150" width="100%" />
<h6  id="success2">Rajeev Godara</h6>
<p style="font-size: 11px;">Roll no:166037</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph6.jpg' %}"height="150" width="100%" />
<h6  id="success2">Kritika</h6>
<p style="font-size: 11px;">Roll no:418037</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph7.jpeg' %}"height="150" width="100%" />
<h6  id="success2">Sushmita Ananthan</h6>
<p style="font-size: 11px;">Roll no:0933</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph8.jpeg' %}"height="150" width="100%" />
<h6  id="success2">Pracheen Garg</h6>
<p style="font-size: 11px;">Roll no:78890</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph9.jpg' %}"height="150" width="100%" />
<h6  id="success2">Rahul Kardak</h6>
<p style="font-size: 11px;">Roll no:233829</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph10.jpg' %}"height="150" width="100%" />
<h6  id="success2">Shrutika Rani</h6>
<p style="font-size: 11px;">Roll no:976879</p>
</div>

<div class="col-md-2 ">
<img src="{% static 'ph11.jpg' %}"height="150" width="100%" />
<h6 id="success2">Shikha Rani</h6>
<p style="font-size: 11px;">Roll no:033458</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph12.jpg' %}"height="150" width="100%" />
<h6  id="success2">Mohit Bansal</h6>
<p style="font-size: 11px;">Roll no:209878</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph13.jpg' %}"height="150" width="100%" />
<h6  id="success2">Prabhjot</h6>
<p style="font-size: 11px;">Roll no:30090</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph14.jpg' %}"height="150" width="100%" />
<h6  id="success2">sohan Garg</h6>
<p style="font-size: 11px;">Roll no:22809</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph15.jpg' %}"height="150" width="100%" />
<h6  id="success2">Rajni Rani</h6>
<p style="font-size: 11px;">Roll no:166037</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph16.jpg' %}"height="150" width="100%" />
<h6  id="success2">Ritu Goyal</h6>
<p style="font-size: 11px;">Roll no:418037</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph17.jpg' %}"height="150" width="100%" />
<h6  id="success2">Jaswant Singh</h6>
<p style="font-size: 11px;">Roll no:0933</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph18.jpg' %}"height="150" width="100%" />
<h6  id="success2">Mandeep Kaur</h6>
<p style="font-size: 11px;">Roll no:78890</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph19.jpg' %}"height="150" width="100%" />
<h6  id="success2">Sunita</h6>
<p style="font-size: 11px;">Roll no:233829</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph20.jpg' %}"height="150" width="100%" />
<h6  id="success2">Saurav sharma</h6>
<p style="font-size: 11px;">Roll no:976879</p>
</div>

<div class="col-md-2">
<img src="{% static 'ph21.jpg' %}"height="150" width="100%" />
<h6 id="success2">Shikha Rani</h6>
<p style="font-size: 11px;">Roll no:033458</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph22.jpg' %}"height="150" width="100%" />
<h6  id="success2">Mohit Bansal</h6>
<p style="font-size: 11px;">Roll no:209878</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph23.jpg' %}"height="150" width="100%" />
<h6  id="success2">Prabhjot</h6>
<p style="font-size: 11px;">Roll no:30090</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph24.jpg' %}"height="150" width="100%" />
<h6  id="success2">sohan Garg</h6>
<p style="font-size: 11px;">Roll no:22809</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph25.jpg' %}"height="150" width="100%" />
<h6  id="success2">Rajni Rani</h6>
<p style="font-size: 11px;">Roll no:166037</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph26.jpg' %}"height="150" width="100%" />
<h6  id="success2">Ritu Goyal</h6>
<p style="font-size: 11px;">Roll no:418037</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph27.jpg' %}"height="150" width="100%" />
<h6  id="success2">Jaswant Singh</h6>
<p style="font-size: 11px;">Roll no:0933</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph28.jpg' %}"height="150" width="100%" />
<h6  id="success2">Mandeep Kaur</h6>
<p style="font-size: 11px;">Roll no:78890</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph29.jpg' %}"height="150" width="100%" />
<h6  id="success2">Sunita</h6>
<p style="font-size: 11px;">Roll no:233829</p>
</div>
<div class="col-md-2">
<img src="{% static 'ph30.jpg' %}"height="150" width="100%" />
<h6  id="success2">Saurav sharma</h6>
<p style="font-size: 11px;">Roll no:976879</p>
</div>
</div>
</div>
































{% endblock %}