{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row" id="header2">
<nav class="navbar-inverse" id="nav">
<ul class="nav navbar-nav">
<h2>Videos</h2>
</ul>
</nav>
</div>
<div class="row" id="v1">


<iframe width="600" height="500" src="https://www.youtube.com/embed/9l2cUahldoE" id="v1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="500" src="https://www.youtube.com/embed/RCaWxoT7Vl8" id="v1"frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="500" src="https://www.youtube.com/embed/fcgGCkSO7JA" id="v1"frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="500" src="https://www.youtube.com/embed/u8LejSkSb5c" id="v1"frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="500" src="https://www.youtube.com/embed/jOD9UaYjfE4" id="v1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="500" src="https://www.youtube.com/embed/GKAliCri5eE" id="v1"frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="500" src="https://www.youtube.com/embed/_iKHLD41BAI"  id="v1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="500" src="https://www.youtube.com/embed/MXUb2aOC8_c"   id="v1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %} 